<!DOCTYPE html>
<html>
<head>
	<title>Submit Update</title>

	<script> const token=<%- JSON.stringify(token) -%></script>
	<script> const topic=<%- JSON.stringify(topic) -%></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/build/bidForBounty.bundle.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="col-sm-6 col-sm-offset-3">
	<div class="jumbotron text-center">
		<h1>Bid For Bounty</h1>
		<h4>For Update: <a href="<%= '/tokenHome/' + token.id + '/forum/' + topic.id %>"><%= '#' + topic.name %></a></h4>
		<br>
		<p>Best Bid is currently: <span id="bestBounty"></span> (<span id="currentHours"></span> hours)</p>
		<p>Please submit a bid that's better than this.</p>
		<p>BountyHunt finishes on <span id="bountyEndTime"></span</p>
		<p id="youWin"></p>
	
		<label for="bid">Bid</label>
		<div class="input-group">		
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button" id="bidInfo">
					<span class="fa fa-info"></span>
				</button>
			</span>	
			<input oninput="App.updateHours(this.value)" type="text" id="bid" class="form-control"></input>
			<span class="input-group-addon" id="basic-addon1"><%= token.name %></span>
		</div>
		<p>This bid gives you <span id="hours">0</span> hours to complete the code.</p>

		<button class="btn btn-default blockchain" id="submitBid" onclick="App.submitBid()">Submit Bid</button>
		<div id="status"></div>
		<hr>
		<a class="btn btn-default" href="<%= '/tokenHome/' + token.id %>"><span class="fa fa-home"></span> Go Back to tokenHome</a>
	</div>
</div>
